.heart {
    position: absolute;
    display: none;
    font-size: 3em;
    color: red;
}

.like-counter {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #333;
    font-size: 0.8em; 
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2px 5px;
    border-radius: 5px; 
}

.like-counter span {
    margin-right: 5px; 
}
